/* В этом файле вы импортируете все шрифты для сайта. Один из них вариативный и требует особенной настройки */
@font-face {
  font-display: swap;
  font-family: 'Inter-Variable';
  src:
    local('Inter-Variable'),
    url('../fonts/Inter-Variable.woff2') format('woff2 supports variations'),
        url('../fonts/Inter-Variable.woff2') format('woff2-variations');
    font-weight: 400 785;
    font-stretch: 100% 100%;
}

@font-face {
  font-display: swap;
  font-family: 'PressStart2P';
  src:
    local('PressStart2P'),
    url('../fonts/PressStart2P.woff') format('woff2');
    font-weight: 400;
}

body {
    font-family: 'PressStart2P', 'Inter-Variable', sans-serif;
}