/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

@keyframes scale-heart {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes sparks-appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.card__like-button:focus,
.card__icon-button:focus,
.main__dialog-button:focus,
.ok-button:focus {
  outline: none;
}

.card__like-button:focus-visible,
.main__dialog-button:focus-visible,
.ok-button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
  transition: box-shadow 0.3s ease;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
  transition: border 0.3s ease;
}

.card__like-button,
.main__dialog-button,
.ok-button {
  position: relative;
  cursor: pointer;
}

.card__icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 2px solid transparent;
  cursor: pointer;
  height: 38px;
}

.card__like-button::before,
.main__dialog-button::before,
.ok-button::before {
  content: '';
  position: absolute;
  background-color: var(--accent-color);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.card__like-button:hover::before,
.main__dialog-button:hover::before,
.ok-button:hover::before {
  transform: scaleX(1);
}

.card__like-button:hover .button__text,
.main__dialog-button:hover .button__text,
.ok-button:hover .button__text {
  color: #fff;
  mix-blend-mode: difference;
}

.main__dialog-button:hover .icon {
  mix-blend-mode: difference;
}

.like-icon {
  width: 39px;
  height: 36px;
  cursor: pointer;
  transform-origin: center;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s 0.03s;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s;
}

.like-icon .contour {
  fill: var(--contour-color, #000);
  transition: fill 0.1s;
}

.like-icon .sparks {
  fill: var(--sparks-color, #ff0000);
  opacity: 0;
}

.like-icon:hover .core {
  fill: var(--accent-color);
  transition: fill 0.3s;
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--main-body-color, #ff0000);
  transition: fill 0.3s;
}

.like-icon.is-liked .main-body {
  fill: var(--main-body-color, #ff0000);
  transition: fill 0.3s 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--main-body-color, #ff0000);
  transition: fill 0.3s 0.06s;
}

.like-icon.is-liked .heart {
  animation: scale-heart 0.3s 0.1s ease-in;
}

.like-icon.is-liked .sparks {
  animation: sparks-appear 0.3s 0.3s ease-in;
}