/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, 'sans-serif');
  font-variation-settings: var(--font-weight-card-text);
  background-image: var(--background-image);
  background-size: 1440px 960px;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  flex-direction: column;
  width: var(--main-width);
  justify-content: center;
  border: 2px solid var(--accent-color);
  gap: 20px;
  margin: 100px auto;
  padding: clamp();
  font-family: var(--accent-font, sans-serif);
  text-align: center;
  background-color: #fff;
}

.header__title {
  font-size: clamp(49px, 10.83px + 0.845vw, 65px);
}

.header__text {
  font-size: clamp(14px, 10.83px + 0.845vw, 23px);
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards__list {
  display: flex;
  gap: 52px;
  flex-direction: column;
}

.card {
  background-color: #fff;
  border: 2px solid var(--accent-color);
  width: var(--main-width);
}

.card__header {
  display: flex;
  align-items: center;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.card__text {
  font-size: 18px;
}