/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, 'sans-serif');
  font-variation-settings: var(--font-weight-card-text);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: var(--header-width);
  border: 2px solid var(--accent-color);
  gap: 20px;
  margin: 100px 0;
  padding: clamp();
  font-family: var(--accent-font, sans-serif);
  text-align: center;
}

.header__title {
  font-size: clamp(49px, 10.83px + 0.845vw, 65px);
}

.header__text {
  font-size: clamp(14px, 10.83px + 0.845vw, 23px);
  text-transform: uppercase;
}