/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, sans-serif);
  font-variation-settings: var(--font-weight-card-text);
  background-image: var(--background-image);
  background-size: 1440px 960px;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  flex-direction: column;
  width: var(--main-width);
  justify-content: center;
  border: 2px solid var(--accent-color);
  gap: 20px;
  margin: 100px auto;
  padding: 120px 0;
  font-family: var(--accent-font, sans-serif);
  text-align: center;
  background-color: #fff;
}

.header__title {
  font-size: var(--header-title);
}

.header__text {
  font-size: var(--header-text);
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards__list {
  display: flex;
  gap: 52px;
  flex-direction: column;
}

.card {
  background-color: #fff;
  border: 2px solid var(--accent-color);
  width: var(--main-width);
  margin: auto;
}

.card__title {
  display: flex;
  align-items: center;
  padding: 3px 10px;
}

.card__description {
  padding-top: 25px;
}

.card__text {
  font-size: 18px;
  padding-left:25px;
  padding-bottom: 27px;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.button {
  background-color: white;
  position: relative;
  cursor: pointer;
}

.card__buttons {
  display: flex;
  justify-content: end;
}

.card__like-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 38px;
  border: 2px solid var(--accent-color);
  margin-right: 25px;
  margin-bottom: 25px;
}

.card__like-heart {
  width: 36px;
  height: 39px;
  margin-right: 12px;
}

.button__text {
  font-family: var(--accent-font, sans-serif);
}

.floppy__button {
  display: block;
  margin: 50px auto 103px auto;
  height: 55px;
  width: 335px;
  font-family: var(--accent-font, sans-serif);
}

.floppy__icon {
  width: 22px;
  height: 22px;
}

.dialog:open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  background-color: transparent;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

.dialog::backdrop {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.dialog__content {
  background: #fff;
  padding: 30px 42px;
  position: relative;
  z-index: 1;
}

.dialog__firstLine {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 20px;
  align-items: center;
  margin-bottom: 30px;

}

.dialog__floopy {
  width: 39px;
  height: 39px;
  background-image: url(../svg/floopy.svg);
  z-index: 2;
}

.dialog__title {
  font-family: var(--accent-font, sans-serif);
  font-size: 14px;
  line-height: 1.5;
}

.dialog__button {
  width: 100%;
  padding: 12.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--accent-font, sans-serif);
  font-size: 14px;
  cursor: pointer;
  border: 2px solid #000;
  background-color: #fff;
}