/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: 'Inter-Variable';
  --accent-font: 'PressStart2P-Regular';
  --font-weight-card-header: 700;
  --font-weight-card-text: 400;
  --main-width: clamp(375px, 700px, 1440px);
  --accent-color: #000000;

  --background-image:
  repeating-linear-gradient(to right, 
      #d3d3d3 0,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ), 
  repeating-linear-gradient(to bottom, #d3d3d3 0px, transparent 2px 4px),
  repeating-linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
}